@use '/src/styles/forvardForModules' as frwd;

.header {
    position: absolute;
    padding-top: frwd.$header-indent;
    padding-bottom: frwd.$header-indent;
    z-index: frwd.$z-header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-bottom: 1px solid rgba(251, 251, 251, 0.4);
    background-color: frwd.$primary-color;
}

.logoSection {
    padding-left: 96px;
    display: flex;
    justify-content: start;

}

.linkSection {
    display: flex;
    gap: 92px;
    justify-content: center;
}

.loginBtn {
    @include frwd.bnt-feature(39px, 14px);
    background-color: transparent;
    border: 1px solid frwd.$color-white;
    border-radius: frwd.$border-radius-btn;
    color: frwd.$color-white;
    cursor: frwd.$cursor;
}

.regBtn {
    @include frwd.bnt-feature(40px, 14px);
    background-color: frwd.$primary-color;
    border-radius: frwd.$border-radius-btn;
    color: frwd.$color-white;
    cursor: frwd.$cursor;
}

.btnList {
    display: flex;
    gap: 8px;
}

.linkList {
    display: flex;
    gap: 40px;
}

.link {
    @include frwd.bnt-feature(0, 14px);
    font-size: frwd.$font-size-16;
    font-weight: frwd.$font-weight-reg;
    letter-spacing: frwd.percent-to-em(-1%);
    line-height: frwd.pixels-to-line-height(20px);
    transition: frwd.$transition;
    color: frwd.$color-white;
}

.mainLink {
    font-size: frwd.$font-size-h3;
    font-weight: frwd.$font-weight-bold;
    @include frwd.bnt-feature(0, 10px);
    transition: frwd.$transition;
    border: none;
    color: frwd.$color-white;
}

.mainLink:hover {
    color: frwd.$color-gray;
}

.link:hover {
    color: frwd.$color-gray;
}

.loginBtn:hover {
    color: frwd.$color-gray;
    border-color: gray;
}

.regBtn:hover {
    background-color: frwd.$hover-color;
    color: frwd.$color-gray;
}

.isHere::after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: frwd.$color-white;
    position: absolute;
    bottom: 25px;
    left: auto;
    right: auto;

}