// colors
$primary-color: rgb(16, 57, 49);
$hover-color: rgb(12, 46, 40);
$rating-color: rgb(255, 197, 49);
$price-per-hour-color: rgb(56, 205, 62);
$fav-chosen-color:rgb(240, 63, 59);
$fav-not-chosen-color: rgb(17, 16, 28);
$font-gray: rgba(17, 16, 28, 0.5);

// indent
$header-indent: 20px;
$bnt-padding: 14px;
$btn-height: 48px;
$main-btn-padding: 18px;

// font
$font-size-16: 16px;
$font-size-h1: 70px;
$font-size-h2: 40px;
$font-size-h3: 24px;
$font-weight-reg: 400;
$font-weight-bold: 500;

// z
$z-modal: 99999;

// borders
$border-radius-btn: 30px;
$border-radius-feature: 24px;
